footer
  .container.text-center.foot
    p Built at Hack the North 2015 by 
        a(href='http://www.github.com/xasos') Niraj Pant
        | , 
        a(href='http://www.github.com/redsn0w422') Yasha Mostofi
        | , 
        a(href='http://www.github.com/thisisjeron') Jeron Wong
        | , and 
        a(href='http://www.github.com/lathie') Victor Niu.
                                
