extends layout

block content
  h1 Internet Karma
  p.lead find your place on the web 
  hr
  .row
    .col-sm-6.col-sm-offset-3
      h1 simple.
      p authenticate with your favorite accounts to find yourself on the web.
  if (user)
    .row
      .col-sm-12.text-center
        h1#totalText
    .row
      .col-sm-4
        if user.facebook
          .btn.btn-block.btn-facebook.btn-social
            i.fa.fa-facebook
            #fbText| Facebook done!
        else
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            #fbText| Sign in with Facebook
      .col-sm-4
        if user.twitter
          .btn.btn-block.btn-twitter.btn-social
            i.fa.fa-twitter
            #twText| Twitter done!
        else
          a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            #twText| Sign in with Twitter
      .col-sm-4
        if user.github
          .btn.btn-block.btn-github.btn-social
            i.fa.fa-github
            #ghText| Github done!
        else
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            #ghText| Sign in with GitHub 
    br
    .row
      .col-sm-4
        h3#redditText Go to 'my account' to setup reddit
      .col-sm-4
        if user.instagram
          .btn.btn-block.btn-instagram.btn-social
            i.fa.fa-instagram
            #instText| Instagram done!
        else
          a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
            i.fa.fa-instagram
            #instText| Sign in with Instagram
    br 
    br 
    br 
    .row
      .col-sm-4.col-sm-offset-4
        if user.facebook && user.github && user.instagram
          a.btn.btn-block.btn-primary#calculate
            p CALCULATE!