extends layout

block content
  style.
    body  {
    background: url("http://i.imgur.com/MRHYMOB.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: rgba(0,0,0,.05);
    /* -webkit-filter: blur(2px) grayscale(0.8) brightness(0.8); */
    }
    #landing {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }
    .landingText {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    }
    .title {
    margin-top: 200px;
    font-size: 400%;
    }
    .slogan {
    margin-bottom: 0px;
    }
    #totalText {
      color: white;
    }

  #landing  
  h1.landingText.title Internet Karma
  h2.landingText.slogan 
    i Find your place on the web.

  //- hr
  //- .row
  //-   .col-sm-6.col-sm-offset-3
  //-     h1 simple.
  //-     p authenticate with your favorite accounts to find yourself on the web.
  if (user)
    .row
      .col-sm-12.text-center
        h1#totalText
    br
    br
    br
    .row
      .col-sm-2.col-sm-offset-1
        if user.facebook
          .btn.btn-block.btn-facebook.btn-social
            i.fa.fa-facebook
            #fbText| Facebook done!
        else
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            #fbText| Sign in with Facebook
      .col-sm-2
        if user.twitter
          .btn.btn-block.btn-twitter.btn-social
            i.fa.fa-twitter
            #twText| Twitter done!
        else
          a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            #twText| Sign in with Twitter
      .col-sm-2
        if user.github
          .btn.btn-block.btn-github.btn-social
            i.fa.fa-github
            #ghText| Github done!
        else
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            #ghText| Sign in with GitHub 
      .col-sm-2
        //- h3#redditText Go to 'my account' to setup reddit 
        //- reddit link to my acount
        if user.instagram
          .btn.btn-block.btn-instagram.btn-social
            i.fa.fa-instagram
            #instText| Instagram done!
        else
          a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
            i.fa.fa-instagram
            #instText| Sign in with Instagram
      .col-sm-2
        a.btn.btn-block.btn-reddit.btn-social(href='/account')
          i.fa.fa-reddit
          #redditText| Reddit setup
    br 
    br 
    br 
    .row
      .col-sm-4.col-sm-offset-4
        if user.facebook && user.github && user.instagram
          a.btn.btn-block.btn-primary#calculate
            p CALCULATE!