extends layout

block content
  //- h1 #{title}
  //- p.lead find your place on the web
  //- hr
  .row
    .col-sm-12.text-center
      h1 find your place
      p authenticate with your favorite accounts to find yourself on the web.
  br
  .row
    .col-sm-4
      //- h2 facebook
      //- p#num #{posts}
      //- p
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign in with Facebook
    .col-sm-4
      a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
        i.fa.fa-twitter
        | Sign in with Twitter
    .col-sm-4
      a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign in with GitHub    

      
      